<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>904985346769-8cg23m97tg5e68l5qcke82b7lltfua1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.904985346769-8cg23m97tg5e68l5qcke82b7lltfua1b</string>
	<key>API_KEY</key>
	<string>AIzaSyDyy2ttP3J-ELHyAry2eYROhXkoSrJN4JM</string>
	<key>GCM_SENDER_ID</key>
	<string>904985346769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-89db2</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-89db2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:904985346769:ios:ce884e9f26b84806ff7bf0</string>
</dict>
</plist>